{% extends 'myapp/base.html' %}
{% load humanize %}


{% block content %}
	
	

<div class="container">
  <h2>ข้อมูลการจัดส่ง</h2>
  <div class="card">
    <h5 class="card-header">รายละเอียดข้อมูล</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">ชื่อผู้รับ : {{name}}</li>
    <li class="list-group-item">เบอร์โทร : {{tel}}</li>
    <li class="list-group-item">ที่อยู่จัดส่ง : {{address}} </li>
    {% if shipping == 'ems' %}
    <li class="list-group-item">การจัดส่งแบบ : ส่งแบบด่วนพิเศษ </li>
    {% else %}
    <li class="list-group-item"> การจัดส่งแบบ : ส่งแบบธรรมดา</li>
    {% endif %}
    {% if payment == 'transfer' %}
    <li class="list-group-item">ชำระเงินผ่าน : โอนเงินเข้าบัญชีธนาคาร </li>
    {% else %}
    <li class="list-group-item">  ชำระเงินผ่าน : เก็บเงินปลายทาง</li>
    {% endif %}
    <li class="list-group-item"> หมายเหตุ : {{other}}</li>


  </ul>
</div>
  <br>

  <h2>รายการสินค้า</h2>
  <p>รายการสินค้าที่สั่งซื้อ</p>                 
  
 
	
<div class="row">
  <div class="col">
<table class="table  table-hover ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">สินค้า</th>
      <th scope="col">ราคา</th>
      <th scope="col">จำนวน</th>
      <th scope="col">รวมยอด</th>
      
    </tr>
  </thead>
  <tbody>

     {% for pd in mycart %}
    <tr>
      <td>{{ pd.productsname|truncatechars:15 }}</td>
      <td>{{ pd.price|intcomma }}</td>
      <td>{{ pd.quantity|intcomma }}</td>
      <td>{{ pd.total|intcomma }}</td>


    </tr>
    {% endfor %}    
  </tbody>
  <tr>
      <td> <h5><strong>  ราคารวม  </strong></h5></td>
      <td></td>
      <td> <h5><strong> {{count|intcomma}}  </strong></h5></td>
      <td> <h5><strong>฿ {{total|intcomma}}  </strong></h5></td>


    </tr>
</table>
 
</div>


</div>



<form method="POST">
    {% csrf_token %}

  <input type="hidden" id="name" name="name" value="{{name}}">
  <input type="hidden" id="tel" name="tel" value="{{tel}}">
  <input type="hidden" id="address" name="address" value="{{address}}">
  <input type="hidden" id="shipping" name="shipping" value="{{shipping}}">
  <input type="hidden" id="payment" name="payment" value="{{payment}}">
  <input type="hidden" id="other" name="other" value="{{other}}">
  <input type="hidden" id="page" name="page" value="confirm">

  <button type="submit" class="btn btn-primary">Confirm</button>
  
</form>

{% endblock content %}