{% extends 'myapp/base.html' %}




{% block content %}


<div class="container" style="margin-bottom: 50px">
  <h2>แก้ไขสินค้าในระบบ : {{product.name}}</h2>
  
  <form method="POST" enctype="multipart/form-data">
  	{% csrf_token %}
  	<!-- บังคับใส่ ของ django -->
    <div class="form-group">
      <label for="name">ชื่อสินค้า:</label>
      <input type="text" class="form-control" id="name" name="name" value={{product.name}}>
    </div>

    <div class="form-group">
      <label for="price">ราคา:</label>
      <input type="text" class="form-control" id="price" name="price" value={{product.price}}>
    </div>

    <div class="form-group">
	  <label for="detail">รายละเอียด:</label>
	  <textarea class="form-control" rows="5" id="detail" name="detail">{{product.detail}}</textarea>
	</div>

  <div class="form-group">
    <label for="category">เลือกประเภทสินค้า:</label>
      <select class="form-control" id="category" name="category">
        
        {% for ct in category %}
        {% if ct.catname == product.catname.catname  %}
        <option selected="selected">{{ct.catname}}</option>
        {% else %}
        <option>{{ct.catname}}</option>
        {% endif %}
        {% endfor %}

      </select>
      <br>
  </div>

    <div class="form-group">
      <p>มีในสต๊อกหรือไม่?</p>

      {% if product.instock %}
      <input type="radio" id="instock_true" name="instock" value="instock_true" checked>
      <label>มี</label><br>
      <input type="radio" id="instock_false" name="instock" value="instock_false">
      <label>หมด</label><br>

      {% else %}
      <input type="radio" id="instock_true" name="instock" value="instock_true" >
      <label>มี</label><br>
      <input type="radio" id="instock_false" name="instock" value="instock_false"checked>
      <label>หมด</label><br>

      {% endif %}
    </div>
    <div class="form-group">
      <label for="quantity">จำนวนสินค้า:</label>
      <input type="text" class="form-control" id="quantity" name="quantity"value={{product.quantity}}>
    </div>

    <div class="form-group">
      <label for="unit">หน่วยสินค้า</label>
      <input type="text" class="form-control" id="unit" name="unit" value={{product.unit}}>
    </div>

    <div class="form-group">
      <label for="imageupload">เลือกรูปจากเครื่อง</label>
      <input type="file" class="form-control" id="imageupload" name="imageupload">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

{% endblock content %}