{% extends 'myapp/base.html' %}
{% load humanize %}


{% block content %}
	
	 {% if status == 'delete' %}
     <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>ลบสินค้าเรียบร้อยแล้ว!</strong> คุณสามารถเลือกดูสินค้าอื่น ๆ ได้เลย
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

<div class="container">
  <h2>ตะกร้าสินค้าของฉัน</h2>
  <p>แก้ไขจำนวนสินค้าในตะกร้า</p>            
  <form method="POST" id="formsave">
      {% csrf_token %}

<div class="row">
  <div class="col-sm-8">
<table class="table table-striped  table-hover">
  <thead class="thead-dark">
    <tr>
      
      <th scope="col">สินค้า</th>
      <th scope="col">ราคา</th>
      <th scope="col">จำนวน</th>
      <th scope="col">ลบ</th>
    </tr>
  </thead>
  <tbody>

  	 {% for pd in mycart %}
    <tr>
      
      <td>{{ pd.productsname|truncatechars:15 }}</td>
      <td>{{ pd.price|intcomma }}</td>      
      <td > <input type="text" name="pd_{{pd.productsid}}" value="{{ pd.quantity }}"></td>



        <th> 
		  -
    	</th>



    </tr>
    {% endfor %} 
  </tbody>
</table>

      
        <input type="hidden" name="checksave" value="checksave">
      </form>
      
      <div class="row" style="margin: 10px;">
        <button type="submit" form="formsave" class="btn btn-primary">บันทึก</button> 
        <form id="formclear" method="POST" onclick="return confirm('คุณต้องการลบสินค้าทั้งหมดใช่ไหม?')">
           {% csrf_token %}
          <input type="hidden" name="clear" value="clear">
          <button type="submit" form="formclear" class="btn btn-danger">ลบรายการสินค้าทั้งหมด</button> 
        </form>

      </div>
      </div>
    </div>  
      
</div>
{% endblock content %}