{% extends 'myapp/base.html' %}

{% load static %}
{% load humanize %}
{% block content%}
<div class="container">
    <div class="row my-2">
      <div class="col-md-12">
      <div class="invoice-title text-right">
          <h3>รหัสใบสั่งซื้อ # {{order.orderid}}</h3>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <address>
          <strong>ผู้ขายสินค้า:</strong><br>
            Amnet it solution & engineering<br>
            900 68 หมู่9 ตำบล บ้านเกาะ <br>
            นครราชสีมา  <br>
            30000
          </address>
        </div>
        <div class="col-md-6 text-right">
          <address>
            <strong>ผู้ซื้อสินค้า: </strong><br>
            ชื่อ : {{order.name}}<br>
            เบอร์โทร : {{order.tel}}<br>
            ที่อยู่จัดส่ง : {{order.address}}<br>
            จัดส่งแบบ : {{order.shipping}}
          </address>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>รายการสั่งซื้อ</strong></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                    <tr>
                    <td><strong>ชื่อสินค้า</strong></td>
                    <td class="text-center"><strong>ราคา</strong></td>
                    <td class="text-center"><strong>จำนวน</strong></td>
                    <td class="text-right"><strong>รวม</strong></td>
                    </tr>
              </thead>
              <tbody>
                {% for pd in odlist %}
                <tr>
                  <td>{{pd.productsname}}</td>
                  <td class="text-center">{{pd.price}}</td>
                  <td class="text-center">{{pd.quantity}}</td>
                  <td class="text-right">{{pd.total | intcomma}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="no-line"></td>
                    <td class="no-line text-center"></td>
                    <td class="no-line text-center">ค่าส่ง</td>

                    <td class="no-line text-right">{{order.shipcost|intcomma}}</td>
                    
                  </tr>
                <tr>
                    <td class="no-line"></td>
                    <td class="no-line text-center"></td>
                    <td class="no-line text-center">ยอดชำระเงิน</td>

                  
                    <td class="no-line text-right">{{total|add:order.shipcost|intcomma}}</td>
                  </tr>
              </tbody>
            </table>
            <button class="btn btn-secondary pull-right" onclick="window.print();">
              <i class="fas fa-print"></i>
              ปริ้นใบสั่งซื้อ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}

