{% extends 'myapp/base.html' %}
{% load humanize %}



{% block header %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
	<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
{% endblock header %}

{% block content %}


	<canvas id="bar-chart" style="width:40%"></canvas>

	<script type="text/javascript">
		
					// Bar chart
			new Chart(document.getElementById("bar-chart"), {
			    type: 'bar',
			    data: {
			      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
			      datasets: [
			        {
			          label: "Population (millions)",
			          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
			          data: [2478,5267,2500,784,433]
			        }
			      ]
			    },
			    options: {
			      legend: { display: false },
			      title: {
			        display: true,
			        text: 'Predicted world population (millions) in 2050'
			      }
			    }
			});

	</script>

{% endblock content %}